<!DOCTYPE html>
<html>
  <head>
    <title>Puntos culturales de Málaga</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="leaflet.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
  </head>
  <style>
    .sitio{
      transition: 0.15s;
      &:hover{
        background-color: lightblue;
      }
    }
  </style>
  <body class="d-flex vh-100 p-0">
    <div id="sidebar" class="w-25 min-vh-100 overflow-auto bg-light"></div>
    <div id="mapa" class="w-75 min-vh-100"></div>            

  </body>

    <script src="bootstrap.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="javascripts/front.js"></script>
</html>
